name: GitHub-Profile-3D-Contrib

on:
  schedule:            # chạy mỗi ngày, giờ muốn thì chỉnh cron
    - cron: "0 18 * * *"   # 18:00 UTC ~ 01:00 sáng VN
  workflow_dispatch:   # cho phép bấm chạy tay trong tab Actions

permissions:
  contents: write      # cho phép workflow commit vào repo

jobs:
  build:
    runs-on: ubuntu-latest
    name: generate-github-profile-3d-contrib

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Generate 3D contrib images
        uses: yoshi389111/github-profile-3d-contrib@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          USERNAME: ${{ github.repository_owner }}

      - name: Commit & Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add -A .
          if git diff --cached --quiet; then
            echo "No changes to commit"
          else
            git commit -m "chore: update 3D contribution graph"
            git push
          fi
